@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/backk.jpg');
  background-size:cover ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 .home{
  background-image: url("/welcomeBackground.jpg");
  @media not all and (min-width: 640px) {
    
    background-size: cover
    
  }
   }

@layer components {
  .mobile-footer {
    @apply flex-col gap-8 items-center p-4;
  }
  .recipedetails-ul{
    @apply flex-col
  }
}

